{% extends "_layouts/form.njk" %}

{% if vaccination.outcome != VaccinationOutcome.AlreadyVaccinated %}
  {% set title = __("vaccination.variant.title", { patient: vaccination.patient }) %}
  {% set items = getBooleanItems() %}
{% else %}
  {% set title = __("vaccination.programme.title", { patient: vaccination.patient }) %}
  {% set items = [{
    text: "MMRV",
    value: true
  }, {
    text: "MMR",
    value: false
  }] %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    hint: {
      text: __("vaccination.variant.hint", { patient: vaccination.patient })
    } if vaccination.outcome != VaccinationOutcome.AlreadyVaccinated,
    items: items,
    decorate: "vaccination.variant"
  }) }}
{% endblock %}
