{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set title = __("move.show.title") %}
{% set confirmButtonText = __("move.show.confirm") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("move.list.title"),
      href: "/moves"
    }]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    caption: move.patient.fullName,
    title: title
  }) }}

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {% call card({
        feature: true,
        heading: move.source,
        headingSize: "m"
      }) %}
        {{ appStatus({
          text: __("move.team_id.description", { move: move }),
          icon: "warning",
          colour: "blue"
        }) if move.team_id }}

        {{ summaryList({
          rows: summaryRows(move.patient, {
            nhsn: {},
            fullName: {},
            dob: {},
            gender: {},
            postalCode: {},
            schoolName: {
              value: move.formatted.to_urn | highlightDifference(move.formatted.from_urn)
            }
          })
        }) }}
      {% endcall %}
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {{ summaryList({
        card: {
          feature: true,
          heading: __("patient.label"),
          headingSize: "m"
        },
        rows: summaryRows(move.patient, {
          nhsn: {},
          fullName: {},
          dob: {},
          gender: {},
          postalCode: {},
          schoolName: {}
        })
      }) }}
    </div>
  </div>

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-width-two-thirds"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("move.show.decision.label")
      }
    },
    items: [{
      text: __("move.show.decision.switch"),
      value: "switch",
      conditional: {
        html: radios({
          fieldset: {
            legend: { text: __("move.show.session.label", {
              firstName: move.patient.firstName
            }) }
          },
          hint: {
            text: __("move.show.session.hint", {
              school: move.formatted.to,
              dates: "Wednesday 6 March 2025 and Thursday 7 March 2025"
            })
          },
          items: [{
            text: __("move.show.session.clinic"),
            value: "clinic",
            checked: true
          }, {
            text: __("move.show.session.school"),
            value: "school"
          }],
          decorate: "session"
        })
      } if move.from_urn == "888888" or move.from_urn == "999999"
    }, {
      text: __("move.show.decision.ignore"),
      value: "ignore"
    }],
    decorate: "decision"
  }) }}
{% endblock %}
