{% extends "_layouts/form.njk" %}

{% set title = __("consent.consultation.title") %}

{% if consent.refusalReason in [ReplyRefusal.Gelatine, ReplyRefusal.GelatineMMR] %}
  {% set hintText = __("consent.consultation.hintGelatine") %}
{% elif consent.refusalReason not in [ReplyRefusal.Medical, ReplyRefusal.Personal] %}
  {% set hintText = __("consent.consultation.hint") %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    hint: {
      text: hintText
    } if hintText,
    items: [{
      text: __("consent.consultation.yes"),
      value: true
    },
    {
      text: __("consent.consultation.no"),
      value: false
    }],
    decorate: "consent.consultation"
  }) }}
{% endblock %}
