{% extends "_layouts/form.njk" %}

{% set title = __("consent.consultation.title") %}
{% set hint = __("consent.consultation.hint." + consent.refusalReason) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    hint: { text: hint } if hint,
    items: [{
      text: __("consent.consultation.yes"),
      value: true
    },
    {
      text: __("consent.consultation.no"),
      value: false
    }],
    decorate: "consent.consultation"
  }) }}
{% endblock %}
