{% extends "_layouts/form.njk" %}

{% set title = __("consent.decision.title", { session: session }) %}
{% set programme_id = "mmr" if SessionPresetName.MMR in session.presetNames else null %}

{% block form %}
  {% set programmeRadiosHtml = radios({
    fieldset: {
      legend: {
        text: "Which vaccinations do you give consent for?"
      }
    },
    items: programmeItems,
    decorate: "decision"
  }) %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    hint: {
      text: __("consent.decision." + programme_id + ".hint") if type else null
    },
    items: injectConditionalHtml(decisionItems, "_one", programmeRadiosHtml) if programmeItems else decisionItems,
    decorate: "consent.decision"
  }) }}
{% endblock %}
