{% extends "_layouts/form.njk" %}

{% set title = __("consent.parent.title") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ input({
    label: { text: __("consent.parent.fullName.label") },
    decorate: "consent.parent.fullName"
  }) }}

  {%- set fosterCarerHtml = radios({
    fieldset: {
      legend: { text: __("consent.parent.hasParentalResponsibility.label") }
    },
    hint: { text: __("consent.parent.hasParentalResponsibility.hint") },
    items: getBooleanItems(),
    decorate: "consent.parent.hasParentalResponsibility"
  }) %}

  {%- set otherHtml = input({
    label: { text: __("consent.parent.relationshipOther.label") },
    decorate: "consent.parent.relationshipOther"
  }) + radios({
    fieldset: {
      legend: { text: __("consent.parent.hasParentalResponsibility.label") }
    },
    hint: { text: __("consent.parent.hasParentalResponsibility.hint") },
    items: getBooleanItems(),
    decorate: "consent.parent.hasParentalResponsibility"
  }) %}

  {# Add conditional html for ‘Foster carer’ option #}
  {% set items = injectConditionalHtml(parentalRelationshipItems, ParentalRelationship.Fosterer, fosterCarerHtml) %}

  {# Add conditional html for ‘Other’ option #}
  {% set items = injectConditionalHtml(items, ParentalRelationship.Other, otherHtml) %}

  {{ radios({
    fieldset: {
      legend: { text: __("consent.parent.relationship.label") }
    },
    items: items,
    decorate: "consent.parent.relationship"
  }) }}

  {{ input({
    label: { text: __("consent.parent.email.label") },
    hint: { text: __("consent.parent.email.hint") },
    decorate: "consent.parent.email"
  }) }}

  {{ input({
    label: { text: __("consent.parent.tel.label") + " (optional)" },
    hint: { text: __("consent.parent.tel.hint") },
    decorate: "consent.parent.tel"
  }) }}

  {{ checkboxes({
    items: [{
      text: __("consent.parent.sms.label"),
      value: true
    }],
    decorate: "consent.parent.sms"
  }) }}
{% endblock %}
