{% extends "_layouts/form.njk" %}

{% if consent.decision == ReplyDecision.OnlyMenACWY %}
  {% set title = __("consent.refusalReason.title", "Td/IPV vaccination") %}
  {% set vaccinations = 1 %}
{% elif consent.decision == ReplyDecision.OnlyTdIPV %}
  {% set title = __("consent.refusalReason.title", "MenACWY vaccination") %}
  {% set vaccinations = 1 %}
{% else %}
  {% set title = __("consent.refusalReason.title", { session: session }) %}
  {% set vaccinations = session.programmes.length %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    items: [
      {
        text: __n("consent.refusalReason.alreadyVaccinatedMMR"),
        value: ReplyRefusal.AlreadyVaccinatedMMR
      } if SessionPresetName.MMR in session.presetNames else {
        text: __n("consent.refusalReason.alreadyVaccinated", vaccinations),
        value: ReplyRefusal.AlreadyVaccinated
      },
      {
        text: __n("consent.refusalReason.gettingElsewhere", vaccinations),
        value: ReplyRefusal.GettingElsewhere
      },
      {
        text: ReplyRefusal.OutsideSchool
      },
      {
        text: ReplyRefusal.Gelatine
      } if vaccineIncludesGelatine and SessionPresetName.Flu in session.presetNames,
      {
        text: ReplyRefusal.GelatineMMR
      } if vaccineIncludesGelatine and SessionPresetName.MMR in session.presetNames,
      {
        text: ReplyRefusal.Medical
      },
      {
        text: ReplyRefusal.Personal
      },
      {
        divider: "or"
      },
      {
        text: ReplyRefusal.Other,
        conditional: {
          html: input({
            label: { text: __("consent.refusalReason.label") },
            decorate: "consent.refusalReasonOther"
          })
        }
      }
    ],
    decorate: "consent.refusalReason"
  }) }}
{% endblock %}
