{%- set markdown -%}
{%- filter nhsukMarkdown -%}
Make sure the CSV you upload uses the following columns:

| Column name | Notes |
| ----------- | ----- |
| `CHILD_FIRST_NAME` | **Required** |
| `CHILD_LAST_NAME` | **Required** |
| `CHILD_DATE_OF_BIRTH` | **Required** |
| `CHILD_GENDER` | **Required**, must be <i>Male</i>, <i>Female</i>, <i>Not known</i> or <i>Not specified</i> |
| `CHILD_SCHOOL_URN` | **Required**, must be 6 digits and numeric. Use <i>888888</i> for school unknown and <i>999999</i> for home-educated. |
| `CHILD_NHS_NUMBER` | Optional, must be 10 digits and numeric |
| `CHILD_ADDRESS_LINE_1` | Optional |
| `CHILD_ADDRESS_LINE_2` | Optional |
| `CHILD_TOWN` | Optional |
| `CHILD_POSTCODE` | Optional, must be formatted as a valid postcode |
| `PARENT_1_NAME` | Optional |
| `PARENT_1_RELATIONSHIP` | Optional, must be <i>Mum</i>, <i>Dad</i> or <i>Guardian</i> |
| `PARENT_1_PHONE` | Optional, must be formatted as a valid phone number |
| `PARENT_1_EMAIL` | Optional, must be formatted as a valid email address |
| `PARENT_2_NAME` | Optional |
| `PARENT_2_RELATIONSHIP` | Optional, must be <i>Mum</i>, <i>Dad</i> or <i>Guardian</i> |
| `PARENT_2_PHONE` | Optional, must be formatted as a valid phone number |
| `PARENT_2_EMAIL` | Optional, must be formatted as a valid email address |
{%- endfilter -%}
{%- endset -%}

{{- markdown | replace("nhsuk-table", "nhsuk-table app-table--csv") | safe }}
