{% extends "_layouts/form.njk" %}

{% set title = __("upload.action.title", type) %}

{% block form %}
  {{ appHeading({
    caption: __("upload.show.title", { upload: upload }),
    title: title
  }) }}

  {{ __("upload.action.description") | nhsukMarkdown }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [{
      text: __("upload.action.confirm", type),
      variant: "warning"
    }],
    links: [{
      text: __("upload.action.cancel"),
      href: upload.uri
    }]
  }) }}
{% endblock %}
