{% from "interchange/_navigation.njk" import interchangeNavigation with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = __("upload.list.title") %}

{% block form %}
  {{ super() }}

  {{ interchangeNavigation({
    view: "uploads"
  }) }}

  <div class="nhsuk-u-reading-width">
    {{ __("upload.list.introduction") | nhsukMarkdown }}

    {{ button({
      classes: "nhsuk-button--secondary",
      text: __("upload.new.label"),
      href: "/uploads/new"
    }) }}
  </div>

  <div class="nhsuk-grid-row">
    <app-auto-submit class="app-grid-column-filters">
      {% call card({
        classes: "app-filters",
        feature: true,
        heading: __("upload.search.label") ,
        headingLevel: 3
      }) %}
        {{ radios({
          classes: "nhsuk-radios--small",
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--s",
              text: __("upload.type.label")
            }
          },
          items: radioFilterItems(UploadType),
          decorate: "type"
        }) }}

        {{ checkboxes({
          classes: "nhsuk-checkboxes--small",
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--s",
              text: __("upload.status.label")
            }
          },
          items: checkboxFilterItems(UploadStatus),
          decorate: "status"
        }) }}

        {{ appButtonGroup({
          buttons: [{
            classes: "nhsuk-button--secondary nhsuk-button--small",
            text: __("search.confirm"),
            attributes: {
              formaction: params.formaction,
              formmethod: "post",
              role: "search"
            }
          }, {
            classes: "nhsuk-button--secondary nhsuk-button--small",
            text: __("search.clear"),
            href: "/uploads"
          } if data.type or data.status]
        }) }}
      {% endcall %}
    </app-auto-submit>

    <div class="app-grid-column-results">
      {% if data.type and data.type != "none" %}
        {% set title = data.type | replace("records", "record imports") %}
      {% else %}
        {% set title = "All imports" %}
      {% endif %}

      {{ appHeading({
        level: 3,
        size: "m",
        title: title,
        summary: __mf("upload.results", {
          from: results.from,
          to: results.to,
          count: results.count
        }) | safe
      }) }}

      {% for upload in results.page %}
        {{ summaryList({
          card: {
            classes: "app-card--compact",
            heading: upload.formatted.createdAt,
            headingSize: "s",
            headingLevel: 4,
            href: upload.uri,
            clickable: true
          },
          rows: summaryRows(upload, {
            fileName: {},
            type: {
              value: upload.summary.type
            },
            status: {}
          })
        }) }}
      {% endfor %}

      {{ pagination(pages) }}
    </div>
  </div>
{% endblock %}
