{% from "upload/_patient-records.njk" import patientRecords with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set programme = data.programmes[upload.programme_id] %}
{% if upload.needsReview %}
  {% set title = __("upload.show.needsReviewTitle", { upload: upload }) %}
{% else %}
  {% set title = __("upload.show.title", { upload: upload }) %}
{% endif %}

{% set templateFormat %}
  {% if upload.type == UploadType.Cohort %}
    {% include "upload/_template-format-cohort.njk" %}
  {% elif upload.type == UploadType.School %}
    {% include "upload/_template-format-school.njk" %}
  {% elif upload.type == UploadType.Report %}
    {% include "upload/_template-format-report.njk" %}
  {% endif %}
{% endset %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("upload.list.title"),
      href: "/uploads"
    }, {
      text: __("upload.imported.title"),
      href: "/uploads/imported"
    } if upload.status == UploadStatus.Approved]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  {{ summaryList({
    card: {
      heading: __("upload.show.summary"),
      headingSize: "m",
      actions: {
        items: [
          {
            text: __("upload.removeRelationships.label"),
            href: upload.uri + "/bulk-remove-relationships"
          }
        ]
      } if upload.status == UploadStatus.Approved and upload.type != UploadType.Report
    },
    rows: summaryRows(upload, {
      createdBy: {},
      updated: {},
      fileName: {},
      type: {},
      status: {},
      school: {},
      yearGroups: {},
      patients: {}
    })
  }) }}

  {% if upload.status == UploadStatus.Review %}
    {{ patientRecords({
      key: "new",
      patients: upload.patients | selectattr("isNew")
    }) }}

    {{ patientRecords({
      key: "matched",
      patients: upload.patients | selectattr("hasMatch")
    }) }}

    {% set pendingRecords = upload.patients | selectattr("hasPendingChanges") %}
    {% if pendingRecords.length %}
      {% include "upload/_pending-records.njk" %}
    {% endif %}

    {% if upload.type != UploadType.Report and upload.moves.length %}
      {% include "upload/_school-moves.njk" %}
    {% endif %}
  {% elif upload.status == UploadStatus.Approved %}
    {% set pendingRecords = upload.patients | selectattr("hasPendingChanges") %}
    {% if pendingRecords.length %}
      {% include "upload/_pending-records.njk" %}
    {% endif %}

    {% if upload.type != UploadType.Report and upload.moves.length %}
      {% include "upload/_school-moves.njk" %}
    {% endif %}

    {{ patientRecords({
      key: "imported",
      patients: upload.patients
    }) }}
  {% endif %}

  {{ card({
    feature: true,
    heading: __("upload.devoid.title"),
    headingClasses: "app-card__heading--grey",
    headingLevel: 2,
    headingSize: "m",
    description: __("upload.devoid.description")
  }) if upload.status == UploadStatus.Devoid }}

  {% if upload.status == UploadStatus.Invalid %}
    {% call card({
      feature: true,
      heading: __("upload.invalid.title"),
      headingClasses: "app-card__heading--red",
      headingLevel: 2,
      headingSize: "m"
    }) %}
      <div class="nhsuk-u-reading-width">
        {{ __("upload.invalid.description") | nhsukMarkdown }}
      </div>

      {{ details({
        summaryText: __("upload.file.format", { type: upload.type | lower }),
        html: templateFormat
      }) }}

      {% for row, validations in upload.validations %}
        {{ appHeading({
          title: "Row " + row,
          level: 3,
          size: "s"
        }) }}
        <ul>
        {% for key, message in validations %}
          <li><code>{{ key }}</code> {{ message }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endcall %}
  {% elif upload.status == UploadStatus.Failed %}
    {% call card({
      classes: "nhsuk-u-margin-bottom-6",
      feature: true,
      heading: __("upload.failed.title"),
      headingClasses: "app-card__heading--red",
      headingLevel: 2,
      headingSize: "m"
    }) %}
      <div class="nhsuk-u-reading-width">
        {{ __("upload.failed.description") | nhsukMarkdown }}
      </div>

      {{ details({
        summaryText: __("upload.file.format", { type: upload.type | lower }),
        html: templateFormat
      }) }}
    {% endcall %}

    {% include "upload/_failed-records.njk" %}
  {% endif %}

  {% if upload.patients.length > 0 and upload.status == UploadStatus.Review %}
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

    {{ appButtonGroup({
      buttons: [{
        text: __("upload.approve.confirm"),
        attributes: {
          formaction: upload.uri + "/approve"
        }
      }, {
        text: __("upload.delete.confirm"),
        variant: "secondary",
        attributes: {
          formaction: upload.uri + "/delete"
        }
      }]
    }) }}
  {% elif upload.status != UploadStatus.Processing and upload.status != UploadStatus.Approved %}
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

    {{ appButtonGroup({
      buttons: [{
        text: __("upload.delete.label"),
        variant: "secondary",
        attributes: {
          formaction: upload.uri + "/delete"
        }
      }]
    }) }}
  {% endif %}
{% endblock %}
