{% extends "_layouts/form.njk" %}

{% set title = __("consent.add.title") %}
{% set confirmButtonText = __("consent.add.confirm") %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    caption: __("consent.add.caption", { parent: consent.parent } ),
    title: title
  }) }}

  {{ summaryList({
    card: {
      heading: __("patient.label"),
      headingSize: "m"
    },
    rows: summaryRows(consent.child, {
      nhsn: {},
      fullName: {},
      preferredNames: {},
      dob: {},
      gender: {},
      address: {},
      schoolName: {},
      gpSurgery: {}
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("consent.label"),
      headingSize: "m"
    },
    rows: summaryRows(consent, {
      decision: {},
      refusalReason: {},
      refusalReasonDetails: {}
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("consent.healthAnswers.label"),
      headingSize: "m"
    },
    classes: "app-summary-list--full-width",
    rows: healthAnswerRows(consent.healthAnswers)
  }) if consent.given }}
{% endblock %}
