{% extends "_layouts/form.njk" %}

{% set confirmButtonVariant = "warning" %}
{% set confirmButtonText = __("consent.invalidate.confirm") %}
{% set title = __("consent.invalidate.title") %}

{% block form %}
  {{ appHeading({
    caption: __("consent.invalidate.caption", { consent: consent }),
    title: title
  }) }}

  {{ __("consent.invalidate.description") | nhsukMarkdown }}

  {{ textarea({
    label: {
      classes: "nhsuk-label--m nhsuk-u-margin-bottom-2",
      text: __("consent.note.label")
    },
    decorate: "consent.note"
  }) }}
{% endblock %}
