{% extends "_layouts/default.njk" %}

{% set title = __("consent.show.title", consent.parent.formatted.fullName) %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ appHeading({
      title: title
    }) }}

    {{ appActionList({
      items: [{
        text: __("consent.match.label"),
        href: consentPath + "/match?referrer=" + consentPath
      }, {
        text: __("consent.add.label"),
        href: consentPath + "/add?referrer=" + consentPath
      }, {
        text: __("consent.invalidate.label"),
        href: consentPath + "/invalidate?referrer=" + consentPath
      }]
    }) }}

    {{ summaryList({
      card: {
        heading: __("consent.label"),
        headingSize: "m"
      },
      rows: summaryRows(consent, {
        programme: {},
        createdAt: {},
        decisionStatus: {},
        refusalReason: {},
        refusalReasonDetails: {}
      })
    }) }}

    {{ summaryList({
      card: {
        heading: __("parent.label"),
        headingSize: "m"
      },
      rows: summaryRows(consent.parent, {
        fullName: {},
        relationship: {},
        hasParentalResponsibility: {},
        email: {},
        tel: {},
        contactPreference: {},
        sms: {}
      })
    }) if consent.parent }}

    {{ summaryList({
      card: {
        heading: __("child.label"),
        headingSize: "m"
      },
      rows: summaryRows(consent.child, {
        fullName: {},
        preferredFirstName: {},
        preferredLastName: {},
        dob: {},
        address: {},
        gpSurgery: {},
        schoolName: {}
      })
    }) if consent.child }}

    {{ summaryList({
      classes: "app-summary-list--full-width",
      card: {
        heading: __("consent.healthAnswers.label"),
        headingSize: "m"
      },
      rows: healthAnswerRows(consent.healthAnswers)
    }) if consent.healthAnswers }}
  </div>
{% endblock %}
