{% extends "_layouts/form.njk" %}

{% set title = __("batch.action.title", type) %}

{% block form %}
  {{ appHeading({
    caption: batch.vaccine.brand + ", " + batch.id,
    title: title
  }) }}

  {{ __("batch.action.description") | nhsukMarkdown }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [{
      text: __("batch.action.confirm", type),
      variant: "warning",
      attributes: {
        formAction: batch.uri + "/" + type
      }
    }],
    links: [{
      text: __("batch.action.cancel"),
      href: batch.uri
    }]
  }) }}
{% endblock %}
