{% extends "_layouts/form.njk" %}

{% set paths = { back: vaccine.uri } %}

{% block form %}
  {{ appHeading({
    caption: vaccine.brand,
    title: __("vaccine.action.title", type)
  }) }}

  {{ __("vaccine.action.description") | nhsukMarkdown }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [{
      text: __("vaccine.action.confirm", type),
      variant: "warning",
      attributes: {
        formAction: vaccine.uri + "/" + type
      }
    }],
    links: [{
      text: __("vaccine.action.cancel"),
      href: vaccine.uri
    }]
  }) }}
{% endblock %}
