{% extends "_layouts/default.njk" %}

{% set title = __("vaccine.list.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  {% for vaccine in vaccines %}
    {% call card({
      heading: vaccine.brandWithType,
      headingSize: "m",
      href: vaccine.uri
    }) %}
      {{ summaryList({
        rows: summaryRows(vaccine, {
          manufacturer: {},
          snomed: {}
        })
      }) }}

      {{ actionLink({
        text: __("batch.new.label"),
        href: vaccine.uri + "/batches/new",
        attributes: {
          "aria-label": __("batch.new.ariaLabel", vaccine.brandWithType)
        }
      }) }}

      {% set batchRows = [] %}
      {% for batch in vaccine.batches | rejectattr("archivedAt") %}
        {% set batchRows = batchRows | push([
          {
            header: __("batch.id.label"),
            html: batch.formatted.id
          },
          {
            header: __("batch.createdAt.label"),
            html: batch.formatted.createdAt or "Not provided"
          },
          {
            header: __("batch.expiry.label"),
            html: batch.formatted.expiry or "Not provided"
          },
          {
            header: __("actions.label"),
            html: appActionList({
              items: [{
                text: __("actions.change"),
                href: batch.uri + "/edit"
              }, {
                text: __("actions.archive"),
                href: batch.uri + "/archive"
              }]
            })
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "vaccines",
        responsive: true,
        head: [
          { text: __("batch.id.label") },
          { text: __("batch.createdAt.label") },
          { text: __("batch.expiry.label") },
          { text: __("actions.label") }
        ],
        rows: batchRows
      }) if batchRows.length }}
    {% endcall %}
  {% endfor %}
{% endblock %}
