{% extends "_layouts/default.njk" %}

{% set title = vaccine.brandWithType %}
{% set paths = { back: "/vaccines" } %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  {{ summaryList({
    card: {
      heading: __("vaccine.show.summary"),
      headingSize: "m",
      actions: {
        items: [
          {
            text: __("vaccine.show.delete"),
            href: vaccine.uri + "/delete"
          }
        ]
      }
    },
    rows: summaryRows(vaccine, {
      type: {},
      brand: {},
      manufacturer: {},
      snomed: {},
      method: {},
      dose: {},
      healthQuestions: {},
      sideEffects: {}
    })
  }) }}
{% endblock %}
