{{
  summaryList({
    lastRowBorder: false,
    rows: [
      {
        key: { text: __('session.location.label') },
        value: { text: clinicSummary.location | safe }
      },
      {
        key: { text: __('session.date.label') },
        value: { text: clinicSummary.date }
      }
    ]
  })
}}
