{% extends "_layouts/form.njk" %}

{% set title = __("consent.child.adjustments.title") %}
{% if childCount > 1 and childNumber < childCount %}
  {% set confirmButtonText = __("clinicBooking.nextChildButtonText") %}
{% endif %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: __("clinicBooking.healthAnswers.caption", fullName) if childCount > 1
        })
      }
    },
    items: [{
      text: __("consent.child.adjustments.distraction.label"),
      value: Adjustment.Distraction,
      exclusiveGroup: "adjustments-list"
    }, {
      text: __("consent.child.adjustments.privacy.label"),
      value: Adjustment.Privacy,
      hint: {
        text: __("consent.child.adjustments.privacy.hint")
      },
      exclusiveGroup: "adjustments-list"
    }, {
      text: __("consent.child.adjustments.other.label"),
      value: Adjustment.Other,
      conditional: {
        html: input({
          label: { text: __("consent.child.adjustmentsOther.title") },
          decorate: "consent.child.adjustmentsOther"
        })
      },
      exclusiveGroup: "adjustments-list"
    },
    {
      divider: 'or'
    },
    {
      text: __("consent.child.adjustments.none.label"),
      value: Adjustment.None,
      exclusiveGroup: "adjustments-list",
      exclusive: true
    }],
    decorate: "consent.child.adjustments"
  }) }}
{% endblock %}
