{% extends "_layouts/form.njk" %}

{% set audience = "parent" if isParentFacing else "team" %}
{% set confirmButtonText = __("clinicBooking.check-answers.confirm." + audience) %}
{% set title = __("clinicBooking.check-answers.title", firstName) %}

{% block form %}
  {{ heading({
    caption: {
      text: "Check the appointment details before completing the booking.",
      placement: "after"
    },
    text: title,
    size: "l"
  }) }}

  {{ summaryList({
    card: {
      heading: {
        text: __("clinicBooking.check-answers.summary.child"),
        size: "m"
      }
    },
    lastRowBorder: false,
    rows: summaryRows(appointment.child if isParentFacing else patient, {
      fullName: {
        value: appointment.child.fullFriendlyName if isParentFacing,
        href: "child" if isParentFacing
      },
      preferredName: {
        href: "child" if isParentFacing
      },
      dob: {
        href: "dob" if isParentFacing
      },
      address: {
        href: "address" if isParentFacing
      },
      impairments: {
        href: "impairments" if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      },
      adjustments: {
        href: "adjustments" if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: {
        text: __("clinicBooking.check-answers.summary.appointment"),
        size: "m"
      }
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      vaccinations: {
        href: "programmes"
      },
      fluVaccineType: {
        href: "flu-choice"
      },
      mmrVaccineType: {
        href: "mmr-alternative"
      },
      location: {
        href: "clinic-location" if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      },
      date: {
        href: "clinic-date" if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      },
      timeSlot: {
        href: "appointment-time-range" if (journeyData.journeyType !== ClinicBookingJourneyType.DataMigration) and (not journeyData.preselectedSlot)
      },
      appointmentLength: {
        value: appointment.session.calculate
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: {
        text: __("clinicBooking.check-answers.summary.contact"),
        size: "m"
      }
    },
    lastRowBorder: false,
    rows: summaryRows(booking.contact, {
      fullName: {
        href: "contact"
      },
      relationship: {
        href: "contact",
        value: appointment.formatted.parentalRelationship
      },
      hasParentalResponsibility: {
        href: "contact",
        value: appointment.parentHasParentalResponsibility
      },
      email: {
        href: "contact"
      },
      tel: {
        href: "contact"
      },
      canSms: {
        href: "contact"
      },
      communicationNeeds: {
        href: "communication-needs"
      }
    })
  }) }}
{% endblock %}
