{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.parentalRelationship.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title,
    caption: __("clinicBooking.appointment.caption", fullName) if childCount > 1
  }) }}

  {%- set fosterCarerHtml = radios({
    fieldset: {
      legend: { text: __("clinicBooking.parentalRelationship.hasParentalResponsibility.label") }
    },
    hint: { text: __("clinicBooking.parentalRelationship.hasParentalResponsibility.hint") },
    items: getBooleanItems(),
    decorate: "appointment.parentHasParentalResponsibility"
  }) %}

  {%- set otherHtml = input({
    label: { text: __("clinicBooking.parentalRelationship.relationshipOther.label") },
    decorate: "appointment.parentalRelationshipOther"
  }) + radios({
    fieldset: {
      legend: { text: __("clinicBooking.parentalRelationship.hasParentalResponsibility.label") }
    },
    hint: { text: __("clinicBooking.parentalRelationship.hasParentalResponsibility.hint") },
    items: getBooleanItems(),
    decorate: "appointment.parentHasParentalResponsibility"
  }) %}

  {# Add conditional html for ‘Foster carer’ option #}
  {% set items = injectConditionalHtml(parentalRelationshipItems, ParentalRelationship.Fosterer, fosterCarerHtml) %}

  {# Add conditional html for ‘Other’ option #}
  {% set items = injectConditionalHtml(items, ParentalRelationship.Other, otherHtml) %}

  {{ radios({
    fieldset: {
      legend: { text: __("clinicBooking.parentalRelationship.relationship.label") }
    },
    items: items,
    decorate: "appointment.parentalRelationship"
  }) }}
{% endblock %}
