{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("download.new.confirm") %}
{% set title = __("download.new.label") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Academic year"
      }
    },
    items: academicYearItems,
    decorate: "download.year"
  }) }}

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Programme"
      }
    },
    items: programmeTypeItems,
    decorate: "download.programmeType"
  }) }}

  {{ dateInput({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.startAt.label") + " (optional)"
      }
    },
    decorate: "download.startAt_"
  }) }}

  {{ dateInput({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.endAt.label") + " (optional)"
      }
    },
    decorate: "download.endAt_"
  }) }}

  {{ checkboxes({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.teams.title")
      }
    },
    items: teamItems,
    decorate: "download.team_ids"
  }) if account.role == UserRole.DataConsumer }}

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.format.title")
      }
    },
    items: enumItems(DownloadFormat),
    decorate: "download.format"
  }) }}
{% endblock %}
