{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = __("download.list.title") %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  {{ actionLink({
    text: __("download.new.label"),
    href: "/downloads/new"
  }) }}

  <div class="nhsuk-grid-row">
    <app-auto-submit class="app-grid-column-filters">
      {% call card({
        classes: "app-filters",
        feature: true,
        heading: __("download.search.label"),
        headingLevel: 3
      }) %}
        {{ radios({
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--s",
              text: __("download.type.label")
            }
          },
          small: true,
          items: radioFilterItems(DownloadType),
          decorate: "type"
        }) }}

        {{ appButtonGroup({
          buttons: [{
            text: __("search.confirm"),
            small: true,
            variant: "secondary",
            attributes: {
              formaction: params.formaction,
              formmethod: "post",
              role: "search"
            }
          }, {
            text: __("search.clear"),
            href: "/downloads",
            small: true,
            variant: "secondary"
          } if data.type]
        }) }}
      {% endcall %}
    </app-auto-submit>

    <div class="app-grid-column-results">
      {% if data.type and data.type != "none" %}
        {% set title = data.type | replace("records", "record downloads") %}
      {% else %}
        {% set title = __("download.list.results") %}
      {% endif %}

      {{ appHeading({
        level: 3,
        size: "m",
        title: title,
        summary: __mf("download.results", {
          from: results.from,
          to: results.to,
          count: results.count
        }) | safe
      }) }}

      {% for download in results.page %}
        {{ summaryList({
          card: {
            classes: "app-card--compact",
            heading: download.name,
            headingSize: "s",
            headingLevel: 4,
            href: download.uri + "/download" if download.status == DownloadStatus.Ready,
            clickable: true if download.status == DownloadStatus.Ready
          },
          rows: summaryRows(download, {
            createdAt: {},
            createdBy: {},
            type: {},
            programme: {},
            academicYear: {},
            format: {},
            recordOffline: {},
            startEndAt: {},
            status: {}
          })
        }) }}
      {% endfor %}

      {{ pagination(pages) }}
    </div>
  </div>
{% endblock %}
