{% extends "_layouts/form.njk" %}

{% set title = __("school.urn.title") %}

{% block form %}
  {{ errorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: __("school.urn.error"),
        href: "#school-urn-error"
      }
    ]
  }) if data.error }}

  {{ appHeading({
    title: title
  }) }}

  {{ input({
    label: {
      text: __("school.urn.label")
    },
    hint: {
      text: __("school.urn.hint")
    },
    code: true,
    width: 10,
    decorate: "school.urn",
    errorMessage: { text: __("school.urn.error") } if data.error
  }) }}
{% endblock %}
