{% extends "_layouts/default.njk" %}

{% set title = false %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ appHeading({
        size: "xl",
        title: __("clinicBooking.start.title." + sessionPreset.name)
      }) }}

      <p>
        If your child has not been vaccinated at school, or is not up to date with their vaccinations for any other reason, you can book into a clinic.
      </p>
      
      <p>
        Clinics have recently been set up to offer {{ __("clinicBooking.start.primaryProgrammeInSentence." + sessionPreset.name) }} vaccinations, but your child may be able to catch up on any outstanding
        vaccinations during their appointment.
      </p>

      <h2 class="nhsuk-heading-l">
        {{ __("clinicBooking.start.confirm.title") }}
      </h2>

      {{ button({
        text: __("clinicBooking.start.confirm.buttonText"),
        href: "/book-into-a-clinic/" + sessionPreset.slug + "/new"
      }) }}

      <h3 class="nhsuk-heading-m">
        {{ __("clinicBooking.start.otherMethods.title") }}
      </h3>

      {{ __("clinicBooking.start.otherMethods.description", bookingPhoneNumber) | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}