{% extends "_layouts/form.njk" %}

{% set paths = { back: patient.uri } %}
{% set title = __("patient.archive.title") %}

{% block form %}
  {% set duplicateHtml = input({
    classes: "nhsuk-input--width-10 nhsuk-input--code",
    label: { text: __("patient.archive.duplicate.label") },
    hint: { text: __("patient.archive.duplicate.hint") }
  }) %}

  {% set otherHtml = input({
    label: { text: __("patient.archiveReasonOther.label") },
    decorate: "patient.archiveReasonOther"
  }) %}

  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: injectConditionalHtml(injectConditionalHtml(archiveRecordReasonItems, ArchiveRecordReason.Other, otherHtml), ArchiveRecordReason.Duplicate, duplicateHtml),
    decorate: "patient.archiveReason"
  }) }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [{
      text: __("patient.archive.confirm"),
      variant: "warning",
      attributes: {
        formAction: patient.uri + "/archive"
      }
    }],
    links: [{
      text: __("patient.archive.cancel"),
      href: patient.uri
    }]
  }) }}
{% endblock %}
