{% from "patient/_navigation.njk" import patientNavigation with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = patient.fullName + " – " + patient.programmes[programme.slug].name %}
{% set formAction = patientProgramme.uri + "/record?referrer=" + referrer %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("patient.list.title"),
      href: "/patients"
    }]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ patientNavigation({
    patient: patient
  }) }}

  {% include "patient/_vaccination-record.njk" %}

  {% call card({
    heading: __mf("patientProgramme.procedures.count", {
      count: patientProgramme.vaccinationOutcomes.length
    }),
    headingLevel: 3
  }) %}
    {{ patientProgramme.formatted.statusWithNotes | nhsukMarkdown }}

    {% if patientProgramme.vaccinationOutcomes.length %}
      {% set vaccinationRows = [] %}
      {% for vaccination in patientProgramme.vaccinationOutcomes %}
        {% set vaccinationRows = vaccinationRows | push([
          {
            header: __("vaccination.createdAt.label"),
            html: vaccination.link.createdAt
          },
          {
            header: __("vaccination.age.label"),
            text: patient.dob | age(at=vaccination.createdAt)
          },
          {
            header: __("vaccination.programme.label"),
            html: vaccination.formatted.programmeWithSequence
          },
          {
            header: __("vaccination.source.label"),
            text: vaccination.source
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "procedures",
        responsive: true,
        head: [
          { text: __("vaccination.createdAt.label") },
          { text: __("vaccination.age.label") },
          { text: __("vaccination.programme.label") },
          { text: __("vaccination.source.label") }
        ],
        rows: vaccinationRows
      }) }}
    {% endif %}

    {{ appButtonGroup({
      buttons: [{
        text: __("patientSession.record.title", {
          programme: patientProgramme.programme
        }) | safe,
        variant: "secondary",
        attributes: {
          formaction: patientProgramme.uri + "/record?referrer=" + referrer
        }
      }, {
        text: __("vaccination.new.alreadyVaccinated.title"),
        href: patientProgramme.uri + "/new/vaccination",
        variant: "secondary"
      }]
    }) if patientProgramme.status != PatientStatus.Vaccinated and patientProgramme.eligible }}
  {% endcall %}

  {% if patientProgramme.ttcvVaccinations %}
    {% call card({
      heading: __("patientProgramme.ttcv.label"),
      headingLevel: 3
    }) %}
      {% set ttcvRows = [] %}
      {% for vaccination in patientProgramme.ttcvVaccinations %}
        {% set ttcvRows = ttcvRows | push([
          {
            header: __("vaccination.createdAt.label"),
            text: vaccination.formatted.createdAt_date
          },
          {
            header: __("vaccination.age.label"),
            text: patient.dob | age(at=vaccination.createdAt)
          },
          {
            header: __("vaccination.programme.label"),
            html: vaccination.formatted.programmeWithSequence
          },
          {
            header: __("vaccination.ttcv.label"),
            html: loop.index | ordinal
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "ttcv",
        responsive: true,
        head: [
          { text: __("vaccination.createdAt.label") },
          { text: __("vaccination.age.label") },
          { text: __("vaccination.programme.label") },
          { text: __("vaccination.ttcv.label") }
        ],
        rows: ttcvRows
      }) }}

      {{ button({
        text: __("vaccination.new.alreadyVaccinated.ttcv"),
        href: patientProgramme.uri + "/new/ttcv",
        variant: "secondary"
      }) }}
    {% endcall %}
  {% endif %}

  {% if patientProgramme.patientSessions.length %}
    {% set patientSessionRows = [] %}
    {% for patientSession in patientProgramme.patientSessions %}
      {% set patientSessionRows = patientSessionRows | push([
        {
          header: __("session.location.label"),
          html: link(patientSession.uri, patientSession.session.location.name)
        },
        {
          header: __("session.date.label"),
          html: patientSession.session.formatted.date if patientSession.session.date else patientSession.session.status
        },
        {
          header: __("patientSession.outcome.label"),
          html: patientSession.formatted.outcome or "No outcome"
        }
      ]) %}
    {% endfor %}

    {{ table({
      id: "patient-sessions",
      sort: "name",
      responsive: true,
      card: {
        heading: __("patientProgramme.patientSessions.label"),
        headingLevel: 3
      },
      head: [
        {
          text: __("session.location.label"),
          attributes: {
            style: "width: 33%"
          }
        },
        { text: __("session.date.label") },
        { text: __("patientSession.outcome.label") }
      ],
      rows: patientSessionRows
    }) }}
  {% endif %}

  {{ card({
    heading: __("patientProgramme.auditEvents.label"),
    headingLevel: 3,
    descriptionHtml: appTimeline({
      items: timelineItems(patientProgramme.auditEvents)
    })
  }) if patientProgramme.auditEvents.length }}
{% endblock %}
