{% from "patient/_navigation.njk" import patientNavigation with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = patient.initials %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("patient.list.title"),
      href: "/patients"
    }]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ patientNavigation({
    patient: patient,
    view: "show"
  }) }}

  {% call card({
    heading: recordTitle,
    headingLevel: 3,
    actions: {
      items: [
        {
          text: __("patient.edit.label"),
          href: patient.uri + "/edit"
        },
        {
          text: __("patient.archive.label"),
          href: patient.uri + "/archive"
        } if not patient.archived
      ]
    }
  }) %}
    {{ appStatus({
      text: patient.notice.name,
      icon: "warning",
      colour: "blue"
    }) if patient.notice }}

    {{ appStatus({
      text: __("patient.post16.status", { patient: patient }),
      icon: "warning",
      colour: "blue"
    }) if patient.post16 }}

    {{ summaryList({
      rows: summaryRows(patient, {
        nhsn: {
          changeLabel: "the child’s NHS number",
          href: patient.uri + "/edit/nhsn"
        } if patient.hasMissingNhsNumber,
        nhsn: {
          changeText: "PDS history",
          href: patient.uri + "/pds"
        } if not patient.hasMissingNhsNumber,
        archiveReason: {
          other: archiveReasonOther
        },
        fullName: {},
        preferredNames: {},
        dob: { value: patient.dobWithAge },
        dod: {},
        gender: {},
        impairments: {},
        adjustments: {},
        address: {},
        schoolName: {},
        yearGroupWithRegistration: {},
        gpSurgery: {},
        parents: {}
      })
    }) }}
  {% endcall %}

  {# Vaccination programmes card #}
  {% set patientProgrammeRows = [] %}
  {% set canInviteToSession = false %}
  {% for id, patientProgramme in patient.programmes %}
    {% set patientProgrammeRows = patientProgrammeRows | push([
      {
        header: __("patientProgramme.name.label"),
        html: link(patientProgramme.uri, patientProgramme.programme.name)
      },
      {
        header: __("patientProgramme.status.label"),
        html: patientProgramme.formatted.status
      },
      {
        header: __("patientProgramme.statusNotes.label"),
        html: patientProgramme.statusNotes
      }
    ]) %}
    {% set canInviteToSession = canInviteToSession or patientProgramme.clinicStatus === PatientClinicStatus.Ready %}
  {% endfor %}

  {% call card({
    heading: __("patient.programmes.label"),
    headingLevel: 3,
    actions: {
      items: [
        {
          text: "Invite to clinic",
          href: patient.uri + "/invite-to-clinic"
        } if not patient.archived and canInviteToSession
      ]
    }
  }) %}
    {{ table({
      id: "programmes",
      responsive: true,
      head: [
        { text: __("patientProgramme.name.label") },
        { text: __("patientProgramme.status.label") },
        { text: __("patientProgramme.statusNotes.label") }
      ],
      rows: patientProgrammeRows
    }) }}
  {% endcall %}

  {# Activity log card #}
  {{ card({
    heading: __("patient.auditEvents.label"),
    headingLevel: 3,
    descriptionHtml: appTimeline({
      items: timelineItems(patient.auditEvents)
    })
  }) if patient.auditEvents.length }}

  {% include "patient/_note.njk" %}
{% endblock %}
