{% from "review/_navigation.njk" import reviewNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = __("notice.list.title") %}

{% block content %}
  {{ super() }}

  {{ reviewNavigation({
    view: "notice"
  }) }}

  {% if notices.length %}
    {% set noticeRows = [] %}
    {% for notice in notices | sort(false, false, "createdAt") %}
      {% set noticeRows = noticeRows | push([
        {
          header: __("patient.label"),
          html: notice.patient.link.fullNameAndNhsn,
          attributes: {
            width: "20%"
          }
        },
        {
          header: __("notice.createdAt.label"),
          html: notice.formatted.createdAt,
          attributes: {
            width: "20%"
          }
        },
        {
          header: __("notice.label"),
          html: notice.patient.notice.name or "Not provided"
        },
        {
          header: __("actions.label"),
          html: appActionList({
            items: [{
              text: __("actions.archive"),
              href: notice.uri + "/archive"
            }]
          })
        }
      ]) %}
    {% endfor %}

    {{ table({
      id: "notices",
      responsive: true,
      card: {
        heading: __mf("notice.count", { count: notices.length }),
        headingLevel: 3
      },
      head: [
        { text: __("patient.label") },
        { text: __("notice.createdAt.label") },
        { text: __("notice.label") },
        { text: __("actions.label") }
      ],
      rows: noticeRows
    }) }}
  {% else %}
    {{ __mf("notice.count", { count: 0 }) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
