{%- from "x-nhsuk/decorated/button/macro.njk" import button with context %}
{%- from "x-nhsuk/decorated/checkboxes/macro.njk" import checkboxes with context %}
{%- from "x-nhsuk/decorated/date-input/macro.njk" import dateInput with context %}
{%- from "x-nhsuk/decorated/radios/macro.njk" import radios with context %}
{%- from "nhsuk/components/button/macro.njk" import button with context -%}
{%- from "nhsuk/components/card/macro.njk" import card with context -%}
{%- from "nhsuk/components/details/macro.njk" import details with context -%}
{%- from "_macros/button-group.njk" import appButtonGroup with context -%}
{%- from "_macros/search-input.njk" import appSearchInput with context -%}

{% macro appPatientSearch(params) %}
  {% if session %}
    {% set showFluVaccineCriteria = session.programme_ids | includes("flu") and view != "record" %}
    {% set showMMRVaccineCriteria = session.programme_ids | includes("mmr") and view != "record" %}
  {% else %}
    {% set showFluVaccineCriteria = data.programme_id | includes("flu") or not data.programme_id %}
    {% set showMMRVaccineCriteria = data.programme_id | includes("mmr") or not data.programme_id %}
  {% endif %}

  {% set filterButtonGroup %}
    {{ appButtonGroup({
      buttons: [{
        text: __("search.confirm"),
        small: true,
        variant: "secondary",
        attributes: {
          formaction: params.formaction,
          formmethod: "post",
          role: "search"
        }
      }, {
        text: __("search.clear"),
        href: params.clear or "/patients",
        small: true,
        variant: "secondary"
      } if data.q or data.programme or data.yearGroup or data.dob or data.status or data.hasMissingNhsNumber or data.clinicStatus]
    }) }}
  {% endset %}

  {% call card({
    classes: "app-filters",
    feature: true,
    heading: __("patient.search.label") ,
    headingLevel: 3
  }) %}
    {{ appSearchInput({
      label: { text: __("search.label") },
      hint: { text: __("search.hint.patient") },
      attributes: {
        formaction: params.formaction,
        formmethod: "post"
      },
      decorate: "q"
    }) }}

    {{ checkboxes({
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("programme.label")
        }
      },
      small: true,
      items: programmeItems,
      decorate: "programme_id"
    }) if programmeItems }}

    {{ radios({
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: "Clinic status"
        }
      },
      small: true,
      items: radioFilterItems(PatientClinicStatus, data["clinicStatus"], false),
      decorate: "clinicStatus"
    }) if not params.hideClinicStatuses }}

    {% for name, enums in params.checkboxFilters %}
      {{ checkboxes({
        fieldset: {
          legend: {
            classes: "nhsuk-fieldset__legend--s",
            text: __("patientSession." + name + ".label")
          }
        },
        small: true,
        items: checkboxFilterItems(enums, data[name]),
        decorate: name
      }) if enums }}
    {% endfor %}

    {% for name, enums in params.radioFilters %}
      {{ radios({
        fieldset: {
          legend: {
            classes: "nhsuk-fieldset__legend--s",
            text: __("patientSession." + name + ".label")
          }
        },
        small: true,
        items: radioFilterItems(enums, data[name]),
        decorate: name
      }) if enums }}
    {% endfor %}

    {{ radios({
      small: true,
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("patientSession.report.label")
        }
      },
      items: [{
        text: "Any",
        value: "none",
        checked: not data.report or data.report == "none"
      }, {
        text: PatientStatus.Ineligible
      }, {
        text: PatientStatus.Consent,
        conditional: {
          html: checkboxes({
            small: true,
            items: enumItems(PatientConsentStatus),
            decorate: "patientConsent"
          })
        } if data.report == PatientStatus.Consent
      }, {
        text: PatientStatus.Refused,
        conditional: {
          html: checkboxes({
            small: true,
            items: enumItems(PatientRefusedStatus),
            decorate: "patientRefused"
          })
        } if data.report == PatientStatus.Refused
      }, {
        text: PatientStatus.Triage
      }, {
        text: PatientStatus.Due,
        conditional: {
          html: (checkboxes({
            fieldset: {
              legend: {
                classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-0",
                text: ProgrammeType.Flu + " vaccine type"
              }
            } if not session,
            small: true,
            items: enumItems(RecordVaccineCriteria),
            items: [{
              text: RecordVaccineCriteria.AlternativeFluInjectionOnly
            }, {
              text: RecordVaccineCriteria.IntranasalOnly
            }, {
              text: RecordVaccineCriteria.IntranasalPreferred
            }],
            decorate: "vaccineCriteria"
          }) if showFluVaccineCriteria) + (checkboxes({
            fieldset: {
              legend: {
                classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-0",
                text: ProgrammeType.MMR + " vaccine type"
              }
            } if not session,
            small: true,
            items: [{
              text: RecordVaccineCriteria.NoMMRPreference
            }, {
              text: RecordVaccineCriteria.AlternativeMMRInjectionOnly
            }],
            decorate: "vaccineCriteria"
          }) if showMMRVaccineCriteria)
        } if data.report == PatientStatus.Due
      }, {
        text: PatientStatus.Deferred,
        conditional: {
          html: checkboxes({
            small: true,
            items: enumItems(PatientDeferredStatus),
            decorate: "patientDeferred"
          })
        } if data.report == PatientStatus.Deferred
      }, {
        text: PatientStatus.PartiallyVaccinated
      }, {
        text: PatientStatus.Vaccinated,
        conditional: {
          html: checkboxes({
            small: true,
            items: enumItems(PatientVaccinatedStatus),
            decorate: "patientVaccinated"
          })
        } if data.report == PatientStatus.Vaccinated
      }],
      decorate: "report"
    }) if not params.hideProgrammeStatuses }}

    {{ checkboxes({
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("patient.yearGroup.label")
        }
      },
      small: true,
      items: yearGroupItems,
      decorate: "yearGroup"
    }) if yearGroupItems }}

    {% set searchDetailsHtml %}
      {{ dateInput({
        fieldset: {
          legend: {
            classes: "nhsuk-label--s",
            text: __("patient.dob.label")
          }
        },
        decorate: "dob"
      }) }}

      {{ checkboxes({
        fieldset: {
          legend: {
            classes: "nhsuk-fieldset__legend--s",
            text: __("patient.search.showOnly")
          }
        },
        small: true,
        items: [
          {
            value: "archived",
            text: __("patient.search.archived")
          },
          {
            value: "hasImpairment",
            html: __("patient.search.hasImpairment")
          },
          {
            value: "hasAdjustment",
            html: __("patient.search.hasAdjustment")
          },
          {
            value: "hasMissingNhsNumber",
            html: __("patient.search.hasMissingNhsNumber")
          },
          {
            value: "post16",
            text: __("patient.search.post16")
          }
        ],
        decorate: "option"
      }) }}

      {{ filterButtonGroup | safe if not (programmeItems or statusItems) }}
    {% endset %}

    {{ details({
      summaryText: __("search.advanced"),
      open: true if data.option,
      html: searchDetailsHtml
    }) }}

    {{ filterButtonGroup | safe if programmeItems or statusItems }}
  {% endcall %}
{% endmacro %}
