{%- from "nhsuk/macros/icon.njk" import nhsukIcon -%}
{%- from "x-nhsuk/decorated/button/macro.njk" import button with context %}
{%- from "x-nhsuk/decorated/input/macro.njk" import input with context %}

{% macro appSearchInput(params) %}
{{ input({
  classes: "app-search-input__input" + (" " + params.classes if params.classes),
  label: {
    classes: "nhsuk-u-font-weight-bold",
    text: params.label.text
  },
  hint: { text: params.hint.text },
  type: "search",
  autocomplete: "off",
  spellcheck: false,
  autocapitalize: "none",
  attributes: params.attributes,
  decorate: params.decorate or "q",
  formGroup: {
    classes: "app-search-input",
    afterInput: {
      html: button({
        classes: "app-button--icon app-search-input__button",
        html: nhsukIcon("search", {
          title: "Search"
        }),
        small: true
      })
    }
  }
}) }}
{% endmacro %}
