{%- from "x-nhsuk/decorated/button/macro.njk" import button with context %}
{%- from "x-nhsuk/decorated/checkboxes/macro.njk" import checkboxes with context %}
{%- from "x-nhsuk/decorated/date-input/macro.njk" import dateInput with context %}
{%- from "x-nhsuk/decorated/radios/macro.njk" import radios with context %}
{%- from "nhsuk/components/button/macro.njk" import button with context -%}
{%- from "nhsuk/components/card/macro.njk" import card with context -%}
{%- from "nhsuk/components/details/macro.njk" import details with context -%}
{%- from "_macros/button-group.njk" import appButtonGroup with context -%}
{%- from "_macros/search-input.njk" import appSearchInput with context -%}

{% macro appSessionSearch(params) %}
  {% call card({
    classes: "app-filters",
    feature: true,
    heading: __("session.search.label") ,
    headingLevel: 3
  }) %}
    {{ appSearchInput({
      label: { text: __("search.label") },
      attributes: {
        formaction: params.formaction,
        formmethod: "post"
      },
      decorate: "q"
    }) }}

    {{ radios({
      classes: "nhsuk-radios--small",
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("session.academicYear.label")
        }
      },
      items: academicYearItems,
      decorate: "academicYear"
    }) if academicYearItems }}

    {{ checkboxes({
      classes: "nhsuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("programme.label")
        }
      },
      items: programmeItems,
      decorate: "programme_id"
    })}}

    {{ radios({
      classes: "nhsuk-radios--small",
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("session.status.label")
        }
      },
      items: radioFilterItems(SessionStatus),
      decorate: "status"
    }) }}

    {{ radios({
      classes: "nhsuk-radios--small",
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: __("session.type.label")
        }
      },
      items: radioFilterItems(SessionType),
      decorate: "type"
    }) }}

    {{ appButtonGroup({
      buttons: [{
        classes: "nhsuk-button--small",
        text: __("search.confirm"),
        variant: "secondary",
        attributes: {
          formaction: params.formaction,
          formmethod: "post",
          role: "search"
        }
      }, {
        classes: "nhsuk-button--small",
        text: __("search.clear"),
        href: params.clear or "/sessions",
        variant: "secondary"
      } if data.q or data.programme_id or data.status != "none" or data.type != "none"]
    }) }}
  {% endcall %}
{% endmacro %}
