{%- from "nhsuk/components/details/macro.njk" import details -%}
{% macro _timelineItem(params, item) %}
  {% set headingLevel = params.headingLevel if params.headingLevel else 3 %}
  {% set headingBold = "nhsuk-u-font-weight-bold" if item.active else "" %}
  {% set isPastItem = "app-timeline__item--past" if item.isPastItem else "" %}

  <li class="app-timeline__item {{ isPastItem | trim }}">
    {% if item.active or item.isPastItem %}
      <svg class="app-timeline__badge" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
        <circle cx="14" cy="14" r="13" fill="#005EB8"/>
      </svg>
    {% else %}
      <svg class="app-timeline__badge app-timeline__badge--small" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
        <circle cx="7" cy="7" r="6" fill="white" stroke="#AEB7BD" stroke-width="2"/>
      </svg>
    {% endif %}
    <div class="app-timeline__content">
      <h{{ headingLevel }} class="app-timeline__header {{ headingBold }}">{{ item.headingText | safe }}</h{{ headingLevel }}>
      {% if item.description %}
        <p class="app-timeline__description">{{ item.description | safe }}</p>
      {% endif %}
      {% if item.html %}
        {{ item.html | safe | trim }}
      {% elif item.text %}
        <p class="nhsuk-body">{{ item.text }}</p>
      {% endif %}
      {% for detail in item.details %}
        {{ details({
          classes: detail.classes,
          summaryText: detail.summaryText,
          html: detail.html | safe | trim
        }) }}
      {% endfor %}
    </div>
  </li>
{% endmacro %}

{% macro appTimeline(params) %}
<ol class="app-timeline{% if params.classes %} {{ params.classes }}{% endif %}">
  {% for item in params.items %}
    {% if item %}{{ _timelineItem(params, item) }}{% endif %}
  {% endfor %}
</ol>
{% endmacro %}
