{% extends "rig/default.njk" %}

{#- App macros -#}
{% from "_macros/action-list.njk" import appActionList %}
{% from "_macros/add-another.njk" import appAddAnother %}
{% from "_macros/button-group.njk" import appButtonGroup with context %}
{% from "_macros/count.njk" import appCount %}
{% from "_macros/data-card.njk" import appDataCard with context %}
{% from "_macros/environment.njk" import appEnvironment %}
{% from "_macros/event.njk" import appEvent %}
{% from "_macros/heading.njk" import appHeading %}
{% from "_macros/search-input.njk" import appSearchInput with context %}
{% from "_macros/secondary-navigation.njk" import appSecondaryNavigation %}
{% from "_macros/status.njk" import appStatus %}
{% from "_macros/timeline.njk" import appTimeline with context %}
{% from "_macros/sub-navigation.njk" import appSubNavigation %}

{% block head %}
  {# Prevent NHS numbers from being treated as phone numbers #}
  <meta name="format-detection" content="telephone=no">

  {% set assetsName = assetsName | default("application") %}
  <link rel="stylesheet" href="/assets/{{ assetsName }}.css" media="all">
  <script src="/assets/{{ assetsName }}.js" type="module"></script>
{% endblock %}

{% block header %}
  {{ appEnvironment(environment) if environment }}
  {{ header(headerOptions if headerOptions else {
    service: {
      text: serviceName,
      href: "/home"
    },
    navigation: {
      items: [
        {
          href: "/schools",
          text: __("school.list.label"),
          active: navigation.activeSection == "schools"
        },
        {
          href: "/patients",
          text: __("patient.list.label"),
          active: navigation.activeSection == "patients"
        },
        {
          href: "/sessions",
          text: __("session.list.label"),
          active: navigation.activeSection == "sessions"
        },
        {
          classes: "app-header__navigation-item--with-count",
          href: "/reviews",
          html: __("review.list.label") + appCount(data.counts.review),
          active: navigation.activeSection == "reviews"
        },
        {
          href: "/reports",
          text: __("programme.list.label"),
          active: navigation.activeSection == "reports"
        },
        {
          href: "/uploads",
          text: __("upload.list.label"),
          active: navigation.activeSection == "uploads"
        },
        {
          href: "/downloads",
          text: __("download.list.label"),
          active: navigation.activeSection == "downloads"
        },
        {
          href: "/vaccines",
          text: __("vaccine.list.label"),
          active: navigation.activeSection == "vaccines"
        },
        {
          href: team.uri,
          text: __("team.show.label"),
          active: navigation.activeSection == "teams"
        }
      ]
    } if account.role != UserRole.DataConsumer,
    account: {
      items: [
        {
          text: account.nameAndRole,
          icon: true
        },
        {
          href: "/account/change-role?referrer=" + navigation.referrer,
          text: __("account.change-role.label")
        },
        {
          href: "/account/sign-out",
          text: __("account.sign-out.title")
        }
      ] if account.role else [
        {
          text: __("account.sign-in.title"),
          href: "/"
        }
      ]
    }
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ backLink({ href: paths.back or back }) if paths.back or back }}
{% endblock %}

{% block content %}
  {{ notificationBanner(success) if success }}
  {{ notificationBanner(message) if message }}
{% endblock %}

{% block footer %}
  {{ footer({
    meta: {
      text: "Today is " + today,
      items: [{
        text: "Homepage",
        href: "/"
      }, {
        text: "Activity log items",
        href: "/activity"
      }, {
        text: "CIS2 users",
        href: "/users"
      }, {
        text: "Clear session data",
        href: "/clear-session-data"
      } if useAutoStoreData, {
        text: "Design history",
        href: "https://design-history.prevention-services.nhs.uk/manage-vaccinations-in-schools/"
      }]
    }
  }) }}
{% endblock %}
