{% extends "_layouts/default.njk" %}

{% set gridColumns = gridColumns or "two-thirds" %}

{% block content %}
  {{ super() }}

  <form class="nhsuk-grid-row" action="{{ formAction }}" method="post" novalidate data-validate>
    <div class="nhsuk-grid-column-{{ gridColumns }}">
      {% block form %}
      {% endblock %}

      {% block afterForm %}
        {{ button({
          classes: confirmButtonClasses,
          html: confirmButtonText if confirmButtonText else __("form.continue")
        }) if not hideConfirmButton }}
      {% endblock %}
    </div>
  </div>
{% endblock %}
