{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = __("school.list.title") %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <app-auto-submit class="app-grid-column-filters">
      {% call card({
        classes: "app-filters",
        feature: true,
        heading: __("school.search.label") ,
        headingLevel: 3
      }) %}
        {{ appSearchInput({
          label: { text: __("search.label") },
          attributes: {
            formaction: params.formaction,
            formmethod: "post"
          },
          decorate: "q"
        }) }}

        {{ radios({
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--s",
              text: __("school.phase.label")
            }
          },
          small: true,
          items: radioFilterItems(SchoolPhase, data.phase),
          decorate: "phase"
        }) }}

        {{ checkboxes({
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--s",
              text: __("programme.label")
            }
          },
          small: true,
          items: programmeItems,
          decorate: "programme_id"
        }) if programmeItems }}

        {{ appButtonGroup({
          buttons: [{
            text: __("search.confirm"),
            small: true,
            variant: "secondary",
            attributes: {
              formaction: params.formaction,
              formmethod: "post",
              role: "search"
            }
          }, {
            text: __("search.clear"),
            href: "/schools",
            small: true,
            variant: "secondary"
          } if data.q or data.phase]
        }) }}
      {% endcall %}
    </app-auto-submit>

    <div class="app-grid-column-results">
      {% if data.type and data.type != "none" %}
        {% set title = data.type + "s" %}
      {% else %}
        {% set title = "All schools" %}
      {% endif %}

      {{ appHeading({
        level: 3,
        size: "m",
        title: title,
        summary: __mf("school.results", {
          from: results.from,
          to: results.to,
          count: results.count
        }) | safe
      }) }}

      {% for school in results.page %}
        {{ summaryList({
          card: {
            classes: "app-card--compact",
            heading: school.name | highlightQuery(data.q),
            headingSize: "s",
            headingLevel: 4,
            href: school.uri,
            clickable: true
          },
          rows: summaryRows(school, {
            patients: {},
            id: {},
            phase: {},
            address: {},
            nextSessionDate: {}
          })
        }) }}
      {% endfor %}

      {{ pagination(pages) }}
    </div>
  </div>
{% endblock %}
