{% from "school/_navigation.njk" import schoolNavigation with context %}

{% from "_macros/patient-search.njk" import appPatientSearch with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = school.name + " – " + __("school.patients.title") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("school.list.title"),
      href: "/schools"
    }]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ schoolNavigation({
    school: school,
    view: "show"
  }) }}

  {{ button({
    classes: "nhsuk-button--secondary",
    href: "/uploads/new?type=" + UploadType.School + "&school_id=" + school.id,
    text: __("session.upload-class-list.title")
  } if not school.homeOrUnknown else {
    classes: "nhsuk-button--secondary",
    href: school.uri + "/invite-to-clinic",
    text: __("session.inviteToClinic.label")
  }) }}

  <div class="nhsuk-grid-row">
    <app-auto-submit class="app-grid-column-filters">
      {{ appPatientSearch({
        clear: school.uri
      }) }}
    </app-auto-submit>

    <div class="app-grid-column-results">
      {{ warningCallout({
        heading: __("school.patientsMissingNhsNumber.title"),
        html: link(school.uri + "?option=hasMissingNhsNumber", __mf("school.patientsMissingNhsNumber.count", {
          count: school.patientsMissingNhsNumber.length
        })) | nhsukMarkdown
      }) if school.patientsMissingNhsNumber.length }}

      {{ appHeading({
        level: 2,
        size: "m",
        title: __("search.results"),
        summary: __mf("patient.results", {
          from: results.from,
          to: results.to,
          count: results.count
        }) | safe
      }) }}

      {{ button({
        classes: "nhsuk-button--secondary nhsuk-button--small",
        text: __("session.offline.confirm"),
        value: DownloadType.Session,
        decorate: "download.type",
        attributes: {
          formaction: "/downloads/new?referrer=" + school.uri,
          formmethod: "post"
        }
      }) if data.invitedToClinic and results.count > 0 }}

      {% for patient in results.page %}
        {% set reportStatusHtml -%}
          {%- if data.programme_id %}
            {%- for id, patientProgramme in patient.programmes -%}
              {%- if data.programme_id | includes(id) -%}
                {{ patientProgramme.formatted.programmeStatus | nhsukMarkdown }}
              {%- endif -%}
            {%- endfor %}
          {% else %}
            {%- for id, patientProgramme in patient.programmes -%}
              {{ patientProgramme.formatted.programmeStatus | nhsukMarkdown }}
            {%- endfor %}
          {% endif %}
        {%- endset %}

        {{ summaryList({
          card: {
            classes: "app-card--compact",
            heading: patient.fullAndPreferredNames | highlightQuery(data.q),
            headingSize: "s",
            headingLevel: 4,
            href: patient.uri,
            clickable: true
          },
          rows: summaryRows(patient, {
            nhsn: {},
            dob: {},
            yearGroup: {},
            clinicProgramme_ids: {},
            report: {
              label: __("patientSession.report.label"),
              value: reportStatusHtml
            }
          })
        }) }}
      {% endfor %}

      {{ pagination(pages) }}
    </div>
  </div>
{% endblock %}
