{% extends "_layouts/form.njk" %}

{% set type = download.type | lower %}
{% set confirmButtonText = __("download.create.confirm", type) %}
{% set title = __("download.create.title", type) %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ __("download.create.description." + download.type) | nhsukMarkdown }}

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.academicYear.title")
      }
    },
    items: academicYearItems,
    decorate: "download.academicYear"
  }) }}

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.programmeType.title")
      }
    },
    items: programmeTypeItems,
    decorate: "download.programmeType"
  }) }}

  {{ dateInput({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.startAt.title") + " (optional)"
      }
    },
    hint: {
      text: __("download.startAt.hint")
    },
    decorate: "download.startAt_"
  }) }}

  {{ dateInput({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.endAt.title") + " (optional)"
      }
    },
    hint: {
      text: __("download.endAt.hint")
    },
    decorate: "download.endAt_"
  }) }}

  {{ checkboxes({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.teams.title")
      }
    },
    items: teamItems,
    decorate: "download.team_ids"
  }) if account.role == UserRole.DataConsumer }}

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-8"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.format.title")
      }
    },
    items: enumItems(DownloadFormat),
    decorate: "download.format"
  }) }}
{% endblock %}
