{% extends "_layouts/form.njk" %}

{% block form %}
  {{ appHeading({
    caption: clinic.name,
    title: __("clinic.action.title", type)
  }) }}

  {{ __("clinic.action.description") | nhsukMarkdown }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [{
      text: __("clinic.action.confirm", type),
      variant: "warning",
      attributes: {
        formAction: clinic.uri + "/" + type
      }
    }],
    links: [{
      text: __("clinic.action.cancel"),
      href: paths.back
    }]
  }) }}
{% endblock %}
