@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;

$_blue-background-colour: nhsuk-tint(nhsuk-colour("blue"), 80%);
$_blue-border-colour: nhsuk-tint(nhsuk-colour("blue"), 50%);
$_blue-border-hover-colour: nhsuk-shade(nhsuk-colour("blue"), 10%);
$_blue-text-colour: nhsuk-shade(nhsuk-colour("blue"), 30%);

$_green-background-colour: nhsuk-tint(nhsuk-colour("green"), 80%);
$_green-border-colour: nhsuk-tint(nhsuk-colour("green"), 40%);
$_green-border-hover-colour: nhsuk-shade(nhsuk-colour("green"), 10%);
$_green-text-colour: nhsuk-shade(nhsuk-colour("green"), 40%);

$_red-background-colour: nhsuk-tint(nhsuk-colour("red"), 80%);
$_red-border-colour: nhsuk-tint(nhsuk-colour("red"), 50%);
$_red-border-hover-colour: nhsuk-shade(nhsuk-colour("red"), 10%);
$_red-text-colour: nhsuk-shade(nhsuk-colour("red"), 50%);

$_orange-background-colour: nhsuk-tint(nhsuk-colour("warm-yellow"), 70%);
$_orange-border-colour: nhsuk-tint(nhsuk-colour("warm-yellow"), 10%);
$_orange-border-hover-colour: nhsuk-shade(nhsuk-colour("warm-yellow"), 10%);
$_orange-text-colour: nhsuk-shade(nhsuk-colour("warm-yellow"), 70%);

.app-card {
  &--blue {
    border-color: $_blue-border-colour;
    color: $_blue-text-colour;
    background-color: $_blue-background-colour;
    box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_blue-border-colour;

    &.nhsuk-card--clickable:hover,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:hover),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:hover) {
      border-color: $_blue-border-hover-colour;
      box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_blue-border-hover-colour;
    }

    &.nhsuk-card--clickable:active,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:active),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:active) {
      box-shadow: none;
    }
  }

  &--green {
    border-color: $_green-border-colour;
    color: $_green-text-colour;
    background-color: $_green-background-colour;
    box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_green-border-colour;

    &.nhsuk-card--clickable:hover,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:hover),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:hover) {
      border-color: $_green-border-hover-colour;
      box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_green-border-hover-colour;
    }

    &.nhsuk-card--clickable:active,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:active),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:active) {
      box-shadow: none;
    }
  }

  &--orange {
    border-color: $_orange-border-colour;
    color: $_orange-text-colour;
    background-color: $_orange-background-colour;
    box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_orange-border-colour;

    &.nhsuk-card--clickable:hover,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:hover),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:hover) {
      border-color: $_orange-border-hover-colour;
      box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_orange-border-hover-colour;
    }

    &.nhsuk-card--clickable:active,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:active),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:active) {
      box-shadow: none;
    }

    blockquote {
      border-color: nhsuk-colour("warm-yellow");
    }
  }

  &--red {
    border-color: $_red-border-colour;
    color: $_red-text-colour;
    background-color: $_red-background-colour;
    box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_red-border-colour;

    &.nhsuk-card--clickable:hover,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:hover),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:hover) {
      border-color: $_red-border-hover-colour;
      box-shadow: 0 $nhsuk-card-border-bottom-width 0 $_red-border-hover-colour;
    }

    &.nhsuk-card--clickable:active,
    &.nhsuk-card--clickable:has(.nhsuk-card__heading a:active),
    &.nhsuk-card--clickable:has(.nhsuk-card__link:active) {
      box-shadow: none;
    }
  }

  &--blue,
  &--green,
  &--orange,
  &--red {
    .nhsuk-card__link,
    .nhsuk-card__link:hover {
      color: inherit;
    }
  }

  &--offset {
    background-color: rgba(nhsuk-colour("grey-5"), 0.5);
  }
}

.app-card--compact {
  @include nhsuk-responsive-margin(3, "bottom");

  .nhsuk-card__heading-container {
    @include nhsuk-responsive-padding(4, "left");
    @include nhsuk-responsive-padding(4, "right");
    @include nhsuk-responsive-padding(4, "top");
  }

  .nhsuk-card__heading {
    @include nhsuk-responsive-margin(2, "bottom");
  }

  .nhsuk-card__content {
    @include nhsuk-responsive-padding(4);
  }

  .nhsuk-card__heading-container + .nhsuk-card__content {
    padding-top: 0;
  }

  .nhsuk-button-group .nhsuk-button {
    @include nhsuk-media-query($from: tablet) {
      margin-bottom: 0;
    }
  }
}

// Align counts across cards
.nhsuk-card:has(> .nhsuk-card__content > .app-card__data) {
  display: flex;

  .nhsuk-card__heading {
    line-height: 1.2;
  }

  .nhsuk-card__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
}

.app-card__data {
  @include nhsuk-font-size(48);
  @include nhsuk-typography-weight-bold;
}

.nhsuk-card--feature > .nhsuk-card__content {
  & > .app-card__heading {
    &--green {
      background-color: nhsuk-colour("green");
    }

    &--grey {
      background-color: nhsuk-colour("grey-1");
    }

    &--orange {
      color: nhsuk-shade(nhsuk-colour("warm-yellow"), 80%);
      background-color: nhsuk-colour("warm-yellow");
    }

    &--red {
      background-color: nhsuk-colour("red");
    }
  }
}

.nhsuk-card--warning {
  // Increase prominence of blockquote border
  blockquote {
    border-left-color: nhsuk-colour("black");
  }

  // Ensure summary row border colour matches card border
  .nhsuk-summary-list__row {
    border-color: nhsuk-colour("yellow");
  }
}
