{% extends "_layouts/default.njk" %}

{% set title = __("programme.list.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  {% for year, programmes in programmes | reverse | groupby("year") %}
    {% set programmeRows = [] %}

    {% for programme in programmes | reverse | sort(false, false, "name") %}
      {% set programmeRows = programmeRows | push([
        {
          header: __("programme.name.label"),
          html: programme.link.name
        },
        {
          header: __("programme.patients.label"),
          text: programme.patientSessions.length or "0",
          format: "numeric"
        }
      ]) %}
    {% endfor %}

    {{ table({
      id: "programmes",
      responsive: true,
      card: {
        feature: true,
        heading: academicYear,
        headingLevel: 2
      },
      head: [
        {
          text: __("programme.name.label"),
          attributes: {
            width: "33%"
          }
        },
        {
          text: __("programme.patients.label"),
          format: "numeric"
        }
      ],
      rows: programmeRows
    }) }}
  {% endfor %}
{% endblock %}
