{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("reply.new.check-answers.title") %}
{% set refusalReasonHasDetails = reply.refusalReason != RefusalReason.PersonalChoice or reply.refusalReason != RefusalReason.Other %}

{% block form %}
  {{ appHeading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ summaryList({
    card: {
      heading: __("reply.label"),
      headingSize: "m"
    },
    rows: summaryRows(reply, {
      programme: {
        href: reply.uri + "/new/programme" if isMultiProgrammeSession
      },
      method: {
        href: reply.uri + "/new/method"
      },
      decision: {
        href: reply.uri + "/new/decision"
      },
      alternative: {
        href: reply.uri + "/new/decision"
      },
      refusalReason: {
        href: reply.uri + "/new/refusal-reason"
      },
      refusalReasonDetails: {
        href: reply.uri + "/new/refusal-reason-details"
      },
      note: {
        href: reply.uri + "/new/note"
      },
      createdBy: {}
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("child.label"),
      headingSize: "m"
    },
    rows: summaryRows(reply.child, {
      fullName: {},
      preferredFirstName: {},
      preferredLastName: {},
      dob: {},
      gpSurgery: {},
      schoolName: {}
    })
  }) if reply.child }}

  {{ summaryList({
    card: {
      heading: __("parent.label"),
      headingSize: "m"
    },
    rows: summaryRows(reply.parent, {
      fullName: {
        href: reply.uri + "/new/parent"
      },
      relationship: {
        href: reply.uri + "/new/parent"
      },
      hasParentalResponsibility: {
        href: reply.uri + "/new/parent"
      },
      notify: {
        href: reply.uri + "/new/notify-parent"
      },
      email: {
        href: reply.uri + "/new/parent"
      },
      tel: {
        href: reply.uri + "/new/parent"
      }
    })
  }) if reply.parent.relationship or reply.parent.notify !== undefined }}

  {{ summaryList({
    classes: "app-summary-list--full-width",
    card: {
      heading: __("reply.healthAnswers.label"),
      headingSize: "m"
    },
    rows: healthAnswerRows(
      reply.healthAnswers,
      reply.uri + "/new/health-answers"
    )
  }) if reply.healthAnswers }}

  {{ summaryList({
    card: {
      heading: __("triage.label", patient.firstName),
      headingSize: "m"
    },
    rows: summaryRows(triage, {
      outcome: {
        label: __("triage.outcome.label"),
        value: triage.outcome,
        href: reply.uri + "/new/triage"
      },
      note: {
        label: __("triage.note.label"),
        value: triage.note,
        href: reply.uri + "/new/triage"
      }
    })
  }) if triage.outcome }}
{% endblock %}
