{% extends "_layouts/form.njk" %}

{% set paths = { back: reply.uri } %}
{% set title = __("reply.follow-up.title") %}

{% block form %}
  {{ appHeading({
    caption: __("reply.follow-up.caption", { reply: reply }),
    title: title
  }) }}

  {{ insetText({
    html: summaryList({
      rows: summaryRows(reply, {
        parent: {
          value: reply.parent.fullNameAndRelationship
        },
        email: {
          label: __("parent.email.label"),
          value: reply.parent.email,
          href: reply.uri + "/edit/parent"
        },
        tel: {
          label: __("parent.tel.label"),
          value: reply.parent.tel,
          href: reply.uri + "/edit/parent"
        },
        contactPreference: {
          label: __("parent.contactPreference.label"),
          value: reply.parent.contactPreference
        },
        refusalReason: {},
        refusalReasonDetails: {},
        note: {}
      })
    })
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("reply.follow-up.decision.label")
      }
    },
    items: booleanItems,
    decorate: "decision"
  }) }}
{% endblock %}
