{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("reply.outcome.title") %}

{% block form %}
  {{ appHeading({
    caption: __("reply.show.title", reply.fullName),
    title: title
  }) }}

  {{ textarea({
    label: { text: __("reply.note.label") },
    decorate: "reply.note"
  }) }}

  {{ radios({
    fieldset: {
      legend: { text: __("reply.confirmed.label") }
    },
    inline: true,
    items: getBooleanItems(),
    decorate: "reply.confirmed"
  }) }}
{% endblock %}
