{% extends "_layouts/form.njk" %}

{% set title = __("triage.label", { patient: patient }) %}

{% block form %}
  {{ appHeading({
    caption: patient.fullName,
    title: title
  }) }}

  {% set psdRadiosHtml = radios({
    fieldset: { legend: { text: __("triage.psd.label") } },
    inline: true,
    items: getBooleanItems(),
    decorate: "triage.psd"
  }) if account.canPrescribe %}

  {% set delayVaccinationHtml = dateInput({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--s",
        text: __("triage.outcomeAt.title", { patient: patient })
      }
    },
    hint: { text: __("triage.outcomeAt.hint", { date: DelayDate }) },
    decorate: "triage.outcomeAt_"
  }) %}

  {% set outcomeItems = injectConditionalHtml(triageOutcomeItems(screenOutcomesForConsentMethod), ScreenOutcome.VaccinateIntranasal, psdRadiosHtml) if patientSession.programme.alternativeVaccine and reply.decision != ReplyDecision.OnlyAlternativeInjection and account.canPrescribe else triageOutcomeItems(screenOutcomesForConsentMethod) %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("triage.outcome.label")
      }
    },
    hint: {
      text: screenVaccineCriteria
    } if screenVaccineCriteria,
    items: injectConditionalHtml(outcomeItems, ScreenOutcome.DelayVaccination, delayVaccinationHtml),
    decorate: "triage.outcome"
  }) }}

  {{ textarea({
    label: {
      classes: "nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-6",
      text: __("triage.note.label") + " (optional)"
    },
    rows: 5,
    decorate: "triage.note"
  }) }}
{% endblock %}
