{% extends "_layouts/default.njk" %}

{% set title = serviceName + " (Mavis)" %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    size: "xl",
    title: title
  }) }}

  {{ warningCallout({
    heading: __("notice.list.title"),
    html: link("/notices", __mf("notice.warning", { count: notices.length }), {
      classes: "nhsuk-link--no-visited-state"
    }) | nhsukMarkdown
  }) if notices.length }}

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {{ card({
        classes: "app-card--compact",
        clickable: true,
        heading: __("school.list.title"),
        headingSize: "s",
        href: "/schools",
        descriptionHtml: __("school.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {{ card({
        classes: "app-card--compact",
        clickable: true,
        heading: __("patient.list.title"),
        headingSize: "s",
        href: "/patients",
        descriptionHtml: __("patient.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {{ card({
        classes: "app-card--compact",
        clickable: true,
        heading: __("session.list.title"),
        headingSize: "s",
        href: "/sessions",
        descriptionHtml: __("session.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {{ card({
        classes: "app-card--compact",
        clickable: true,
        heading: __("vaccine.list.title"),
        headingSize: "s",
        href: "/vaccines",
        description: __("vaccine.list.description")
      }) }}
    </li>
  </ul>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("consent.list.title"),
        headingSize: "xs",
        href: "/consents",
        description: __("consent.list.description")
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("move.list.title"),
        headingSize: "xs",
        href: "/moves",
        description: __("move.list.description")
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("interchange.list.title"),
        headingSize: "xs",
        href: "/interchange",
        description: __("interchange.list.description")
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("programme.list.title"),
        headingSize: "xs",
        href: "/reports",
        descriptionHtml: __("programme.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("team.show.title"),
        headingSize: "xs",
        href: "/teams/" + data.team.code,
        description: __("team.show.description")
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("manual.show.title"),
        headingSize: "xs",
        href: "https://guide.manage-vaccinations-in-schools.nhs.uk",
        description: __("manual.show.description")
      }) }}
    </li>
  </ul>
{% endblock %}
