{% extends "_layouts/default.njk" %}

{% set assetsName = "public" %}
{% set title = serviceName + " (Mavis)" %}
{% set headerOptions = {
  service: {
    text: serviceName
  }
} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ appHeading({
        size: "xl",
        title: title
      }) }}

      {% filter nhsukMarkdown %}
Mavis is a digital platform for school age immunisation service (SAIS) providers.

There are 2 ways to use Mavis:
- use the full service to manage every stage of your vaccination programmes
- use the National reporting service to upload vaccination records and share them with NHS England

Once you log in, you'll be taken to the service your organisation is set up to use.
      {% endfilter %}

      {{ button({
        classes: "nhsuk-u-margin-bottom-4",
        html: "Log in with my Care Identity",
        href: "/account/cis2",
        variant: "login"
      }) }}

      {{ link("https://manage-care-identities.care-identity-service2.nhs.uk/#/self-service/unlock-authenticator", __("account.cis2.unlock")) | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}
